<?xml version="1.0"?>
<FTPConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Name>ForumAttach</Name>
    <Serveraddress>ftpserver</Serveraddress>
    <Serverport>21</Serverport>
    <Username>username</Username>
    <Password>password</Password>
    <Mode>1</Mode>
    <Allowupload>0</Allowupload>
    <Uploadpath>test</Uploadpath>
    <Timeout>10</Timeout>
    <Remoteurl>http://localhost/forumattach</Remoteurl>
    <Reservelocalattach>0</Reservelocalattach>
    <Reserveremoteattach>1</Reserveremoteattach>
  </FTPConfigInfo>
