<?xml version="1.0"?>
<GlobalConfigInfo  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplicationName>环境质量</ApplicationName>

  <ApplicationPortalURL>portal.aspx</ApplicationPortalURL>

  <ApplicationLoginURL>login.aspx</ApplicationLoginURL>

  <VirtualPath></VirtualPath>

  <LogoPicPath></LogoPicPath>

  <TitlePicPath></TitlePicPath>

  <DefaultTheme></DefaultTheme>

  <WebURL></WebURL>

  <CustomInstitutionName></CustomInstitutionName>

  <Licensed>1</Licensed>

  <Icp></Icp>

  <PauseApplication>0</PauseApplication>

  <IpDenyAccess></IpDenyAccess>

  <IpAccess></IpAccess>

  <ShowWelcomeMsg>1</ShowWelcomeMsg>

  <WelcomeMsgContent>欢迎登录系统</WelcomeMsgContent>

  <Secques>0</Secques>

  <PasswordMode>0</PasswordMode>

  <CachedAssemblyName>SmartEP.Service.Core</CachedAssemblyName>

  <CachedNameSpace>SmartEP.Service.Core.Cached</CachedNameSpace>
  <!--使用缓存策略
  1、DefaultCachedStrategy
  2、MemCachedStrategy
  3、RedisStrategy
  4、CookieStrategy
  5、SessionStrategy等-->
  <CachedMode>MemCachedStrategy;DefaultCachedStrategy</CachedMode>

  <ORMProviderAssemblyName>SmartEP.Service.Core</ORMProviderAssemblyName>

  <ORMProviderNameSpace>SmartEP.Service.Core.ORMProvider</ORMProviderNameSpace>
  <!--ORM提供者包括 
  1、OpenAccesssRepositoryStrategy
  2、NHibernateRepositoryStrategy
  3、AdoRepositoryStrategy
  4、EnterpriseLibraryRepositoryStrategy-->
  <ORMProvider>OpenAccesssRepositoryStrategy;AdoRepositoryStrategy</ORMProvider>

  <OnlineTimeout>30</OnlineTimeout>

  <AllowAnonymous>0</AllowAnonymous>

  <OnlineListHiddenAnonymous>1</OnlineListHiddenAnonymous>

  <RecordVisitLog>1</RecordVisitLog>

  <RecordOperationLog>1</RecordOperationLog>

  <JqueryURL>javascript/jquery.js</JqueryURL>
  <!--全局配置文件路径-->
  <GlobalConfig>Configs/global.config</GlobalConfig>

  <CustomConfigFile>Configs/customConfigFile.config</CustomConfigFile>


</GlobalConfigInfo>

