.RadCloudUpload_Neptune {
  color: black;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadCloudUpload_Neptune .rcuIcon {
    background-image: url('CloudUpload/rcuActionSprite.png'); }
  .RadCloudUpload_Neptune .rcuButton {
    background-image: url('Common/radGradientButtonSprite.png');
    border-radius: 3px;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    border-color: #a7bedb;
    color: #00156e;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%); }
    .RadCloudUpload_Neptune .rcuButton:hover {
      border-color: #c6ba9d;
      color: black;
      background-color: #ffe18a;
      background-image: linear-gradient(#fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%); }
    .RadCloudUpload_Neptune .rcuButton:active {
      border-color: #c3bdae;
      color: black;
      background-color: #fde292;
      background-image: linear-gradient(#ebc59b 0%, #faad60 50%, #f99631 50%, #fde292 100%); }
  .RadCloudUpload_Neptune .rcuFileWrap:hover .rcuButton {
    border-color: #c6ba9d;
    color: black;
    background-color: #ffe18a;
    background-image: linear-gradient(#fffce8 0%, #ffedb3 50%, #ffd563 50%, #ffe18a 100%);
    background-position: 0 -1000px\9; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .RadCloudUpload_Neptune .rcuFileWrap:hover .rcuButton {
        background-position: 0 0; } }
  .RadCloudUpload_Neptune .rcuFileWrap:active .rcuButton {
    border-color: #c3bdae;
    color: black;
    background-color: #fde292;
    background-image: linear-gradient(#ebc59b 0%, #faad60 50%, #f99631 50%, #fde292 100%);
    background-position: 0 -2000px\9; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .RadCloudUpload_Neptune .rcuFileWrap:active .rcuButton {
        background-position: 0 0; } }
  .RadCloudUpload_Neptune .rcuInfoPanel {
    border-color: #a7bedb; }
  .RadCloudUpload_Neptune .rcuHeader {
    background-image: url('PanelBar/RootItemBg.png');
    background-image: linear-gradient(#dee8f5, #c3d8f1);
    color: #00156e; }
  .RadCloudUpload_Neptune .rcuBody {
    background-color: #d6e6f4;
    border-color: #a7bedb; }
  .RadCloudUpload_Neptune .rcuFileList {
    background-color: white;
    border-color: #a7bedb; }
  .RadCloudUpload_Neptune .rcuLIFailed .rcuErrorNotification {
    color: #b32d34; }
  .RadCloudUpload_Neptune .rcuLIUploading .rcuStatusIcon {
    background-image: url('Common/loading_small.gif'); }
  .RadCloudUpload_Neptune .rcuProgressIcon {
    background-image: url('Common/loading_small.gif'); }
  .RadCloudUpload_Neptune .rcuProgressBar {
    background-color: #e6f0f8;
    border-radius: 6px;
    border-color: #abc1de;
    background-image: linear-gradient(#dee8f5, #fafcfe); }
  .RadCloudUpload_Neptune .rcuProgress {
    background-image: url('Upload/ruProgress.gif');
    background-position: 0 -7px; }
  .RadCloudUpload_Neptune .rcuButtons .rcuButton:hover {
    background-image: none;
    background-color: transparent; }
  .RadCloudUpload_Neptune .rcuButtons .rcuButton:active {
    background-image: none;
    background-color: transparent; }
  .RadCloudUpload_Neptune .rcuButtons .rcuButtonText {
    color: #00156e; }
  .RadCloudUpload_Neptune .rcuDropZone {
    background-color: rgba(222, 232, 245, 0.8);
    border-color: #abc1de;
    color: #00156e; }
    .RadCloudUpload_Neptune .rcuDropZone .rcuDropZoneText:before {
      background-image: url('CloudUpload/rcuActionSprite.png'); }

.RadCloudUpload_Neptune .rcuDisabled {
  color: #8d8d8d; }
  .RadCloudUpload_Neptune .rcuDisabled .rcuButton {
    border-color: #9ebfdb;
    color: #8d8d8d;
    background-color: #e8f1fc;
    background-image: linear-gradient(#e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
    border-color: #ccdbed;
    color: #8d8d8d; }
    .RadCloudUpload_Neptune .rcuDisabled .rcuButton:hover, .RadCloudUpload_Neptune .rcuDisabled .rcuButton:active {
      border-color: #9ebfdb;
      color: #8d8d8d;
      background-color: #e8f1fc;
      background-image: linear-gradient(#e8f1fc 0%, #e9f1fc 50%, #d2e1f4 50%, #e8f1fc 100%);
      background-position: 0 0;
      border-color: #ccdbed;
      color: #8d8d8d; }
    .RadCloudUpload_Neptune .rcuDisabled .rcuButton .rcuIconCollapse {
      background-position: -62px -2px; }
  .RadCloudUpload_Neptune .rcuDisabled .rcuRemoveButton .rcuIcon {
    background-position: -62px -142px; }
  .RadCloudUpload_Neptune .rcuDisabled .rcuCancelButton .rcuIcon {
    background-position: -62px -162px; }
  .RadCloudUpload_Neptune .rcuDisabled.rcuInfoPanel {
    border-color: #ccdbed; }
  .RadCloudUpload_Neptune .rcuDisabled .rcuHeader {
    color: #8d8d8d; }
  .RadCloudUpload_Neptune .rcuDisabled .rcuBody {
    border-color: #ccdbed; }
  .RadCloudUpload_Neptune .rcuDisabled .rcuFileList {
    border-color: #ccdbed; }
  .RadCloudUpload_Neptune .rcuDisabled .rcuLIFailed .rcuFakeButton .rcuIcon {
    background-position: -62px -102px; }
  .RadCloudUpload_Neptune .rcuDisabled .rcuButtons .rcuButton {
    background-image: none;
    background-color: transparent; }

.rcuToolTip_Neptune {
  background-color: #d7e3f2;
  border: 1px solid #6187b8;
  box-shadow: 0 0 0 1px #e7eef7 inset, 1px 2px 4px rgba(0, 0, 0, 0.45);
  color: black;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif; }
  .rcuToolTip_Neptune:before {
    width: 8px;
    height: 7px;
    background-image: url('CloudUpload/toolTipBefore.png');
    border-width: 0; }
