.RadColorPicker_Neptune {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Rounded corners and shadows */ }
  .RadColorPicker_Neptune .rcpViews,
  .RadColorPicker_Neptune .rcpHeader,
  .RadColorPicker_Neptune .rcpPageView {
    background-color: #dbe6f4; }
  .RadColorPicker_Neptune .rcpColorPreview,
  .RadColorPicker_Neptune .rcpInput,
  .RadColorPicker_Neptune .rcpHexInput,
  .RadColorPicker_Neptune .rcpMillionColorsPalette,
  .RadColorPicker_Neptune .rcpMillionColorsSlider div.rslTrack {
    background-color: white;
    border-color: #abc1de; }
  .RadColorPicker_Neptune .rcpPalette,
  .RadColorPicker_Neptune input,
  .RadColorPicker_Neptune a,
  .RadColorPicker_Neptune .rcpApplyButton:hover span {
    color: black; }
  .RadColorPicker_Neptune .rcpTabs ul li a {
    color: black;
    background-position: left -289px;
    padding: 0 0 0 6px !important; }
  .RadColorPicker_Neptune .rcpTabs ul li a span {
    padding: 0 6px 0 0 !important;
    background-position: right top; }
  .RadColorPicker_Neptune .rcpTabs ul li.rcpSelectedTab a {
    color: black;
    background-position: -1014px -289px;
    padding-left: 6px !important; }
  .RadColorPicker_Neptune .rcpTabs ul li.rcpSelectedTab a span {
    background-position: right -26px;
    padding-right: 6px !important; }
  .RadColorPicker_Neptune .rcpHeader,
  .RadColorPicker_Neptune .rcpHeader .rcpImageButton,
  .RadColorPicker_Neptune .rcpRecentColors,
  .RadColorPicker_Neptune .rcpIcon a,
  .RadColorPicker_Neptune .rcpTabs a,
  .RadColorPicker_Neptune .rcpTabs a span,
  .RadColorPicker_Neptune .rcpButton,
  .RadColorPicker_Neptune .rcpButton span,
  .RadColorPicker_Neptune .rcpMillionColorsHandle,
  .RadColorPicker_Neptune .rcpSlider div.rslTrack,
  .RadColorPicker_Neptune .rcpSlider .rslTrack a.rslDraghandle,
  .RadColorPicker_Neptune div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle {
    background-image: url('ColorPicker/ColorPickerSprites.png');
    background-repeat: no-repeat; }
  .RadColorPicker_Neptune .rcpPalette,
  .RadColorPicker_Neptune .rcpRoundedRight,
  .RadColorPicker_Neptune .rcpRoundedBottomRight,
  .RadColorPicker_Neptune .rcpRightShadow,
  .RadColorPicker_Neptune .rcpCornerShadow {
    background-image: url('ColorPicker/rcpVerticalSprites.png'); }
  .RadColorPicker_Neptune .rcpRoundedBottomLeft,
  .RadColorPicker_Neptune .rcpBottomShadow {
    background-image: url('ColorPicker/ColorPickerSprites.png'); }
  .RadColorPicker_Neptune .rcpPalette,
  .RadColorPicker_Neptune .rcpRoundedRight,
  .RadColorPicker_Neptune .rcpRoundedBottomRight,
  .RadColorPicker_Neptune .rcpRoundedBottomLeft {
    _background-image: url('ColorPicker/rcpVerticalSpritesIE6.png'); }

