.RadImageGallery_Neptune {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: black; }
  .RadImageGallery_Neptune .rigDescriptionBox {
    background-color: #688caf;
    background-color: rgba(104, 140, 175, 0.6);
    color: white; }
  .RadImageGallery_Neptune .rigToolbar,
  .RadImageGallery_Neptune .rigCloseButton,
  .RadImageGallery_Neptune .rigDrawerButton {
    background-color: #d7e6f7;
    background-color: rgba(215, 230, 247, 0.8); }
  .RadImageGallery_Neptune .rigProgressBar div {
    background-color: #fcc365; }
  .RadImageGallery_Neptune .rigPager {
    background-color: #ecf3fc;
    color: #00156e; }
    .RadImageGallery_Neptune .rigPager a {
      color: #00156e; }
    .RadImageGallery_Neptune .rigPager a.rigCurrentPage {
      color: #000;
      border-color: #898989;
      background: #fff; }
  .RadImageGallery_Neptune .rigIcon {
    background-image: url('Common/radActionsSprite.png'); }
  .RadImageGallery_Neptune .rigDotList > a {
    border-color: #5379ac; }
  .RadImageGallery_Neptune .rigDotList a span {
    background-color: white; }
  .RadImageGallery_Neptune .rigDotList a.rigCurrentItem span {
    background-color: #ffa614;
    border-color: white; }
  .RadImageGallery_Neptune .rigTooltip {
    background-color: white;
    border-color: #cdcdcd; }
    .RadImageGallery_Neptune .rigTooltip:after {
      border-top-color: white; }
  .RadImageGallery_Neptune .rigPrevButton,
  .RadImageGallery_Neptune .rigNextButton,
  .RadImageGallery_Neptune .rigScrollPrevIcon,
  .RadImageGallery_Neptune .rigScrollNextIcon,
  .RadImageGallery_Neptune .rigCloseIcon {
    background-image: url('LightBox/sprite.png'); }
  .RadImageGallery_Neptune .rigPrevButton {
    background-position: 0 -140px; }
  .RadImageGallery_Neptune .rigNextButton {
    background-position: -60px -140px; }
  .RadImageGallery_Neptune .rigScrollPrevIcon {
    background-position: -79px  -49px; }
  .RadImageGallery_Neptune .rigScrollNextIcon {
    background-position: -104px -49px; }
  .RadImageGallery_Neptune.RadImageGallery_RightOutside .rigScrollPrevIcon,
  .RadImageGallery_Neptune.RadImageGallery_RightOutside .rigScrollNextIcon,
  .RadImageGallery_Neptune .rigThumbnailsBoxVertical .rigScrollPrevIcon,
  .RadImageGallery_Neptune .rigThumbnailsBoxVertical .rigScrollNextIcon {
    background-position: -62px -89px; }
  .RadImageGallery_Neptune .RadImageGallery_RightOutside .rigScrollNextIcon,
  .RadImageGallery_Neptune .rigThumbnailsBoxVertical .rigScrollNextIcon {
    background-position: -96px -89px; }
  .RadImageGallery_Neptune .rigCloseIcon {
    background-position: -79px -12px; }
  .RadImageGallery_Neptune .rigActionButton:hover .rigCloseIcon {
    background-position: -101px -12px; }
  .RadImageGallery_Neptune .rigDrawerIcon {
    background-position: -52px -60px; }
  .RadImageGallery_Neptune .rigPlayIcon {
    background-position: 1px -1999px; }
  .RadImageGallery_Neptune .rigPauseIcon {
    background-position: 1px -2019px; }
  .RadImageGallery_Neptune .rigFullScrIcon {
    background-position: 1px -2099px; }
  .RadImageGallery_Neptune .rigExtFullScrIcon {
    background-position: 1px -2119px; }
  .RadImageGallery_Neptune .rigActionButton:hover .rigPlayIcon {
    background-position: -19px -1999px; }
  .RadImageGallery_Neptune .rigActionButton:hover .rigPauseIcon {
    background-position: -19px -2019px; }
  .RadImageGallery_Neptune .rigActionButton:hover .rigFullScrIcon {
    background-position: -19px -2099px; }
  .RadImageGallery_Neptune .rigActionButton:hover .rigExtFullScrIcon {
    background-position: -19px -2119px; }
  .RadImageGallery_Neptune .rigShowThumbnIcon {
    background-position: 0px -2159px; }
  .RadImageGallery_Neptune .rigHideThumbnIcon {
    background-position: 0px -2179px; }
  .RadImageGallery_Neptune .rigActionButton:hover .rigShowThumbnIcon {
    background-position: -20px -2159px; }
  .RadImageGallery_Neptune .rigActionButton:hover .rigHideThumbnIcon {
    background-position: -20px -2179px; }
