/*global*/
.RadListView_Neptune {
  border: 1px solid #688caf;
  background: #fff;
  color: #333;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadListView_Neptune .rlvA {
    /*background:#ecf4ff;*/ }
  .RadListView_Neptune .rlvISel {
    background: #ffcb60; }
  .RadListView_Neptune .rlvIEdit {
    background: #ffe5ad; }
  .RadListView_Neptune .rlvBAdd, .RadListView_Neptune .rlvBUpdate, .RadListView_Neptune .rlvBCancel, .RadListView_Neptune .rlvBDel, .RadListView_Neptune .rlvBEdit {
    background-image: url('Grid/sprite.gif'); }
  .RadListView_Neptune .rlvBAdd {
    background-position: 0 -1650px; }
  .RadListView_Neptune .rlvBUpdate {
    background-position: 0 -1800px; }
  .RadListView_Neptune .rlvBCancel {
    background-position: 0 -1850px; }
  .RadListView_Neptune .rlvBSel {
    background-image: url('FormDecorator/CheckBoxSprites.gif');
    background-position: -2px -2px; }
  .RadListView_Neptune .rlvISel .rlvBSel {
    background-position: -2px -422px; }
  .RadListView_Neptune .rlvBDel {
    background-position: 0 -1750px; }
  .RadListView_Neptune .rlvBEdit {
    background-position: 0 -1700px; }
  .RadListView_Neptune .rlvDrag {
    background-image: url('ListView/drag.gif');
    background-position: center center; }
  .RadListView_Neptune div.rlvI, .RadListView_Neptune div.rlvA, .RadListView_Neptune div.rlvIEmpty, .RadListView_Neptune div.rlvIEdit {
    border-color: #d0d7e5; }
  .RadListView_Neptune div.rlvISel {
    border-color: #ff9b35; }
  .RadListView_Neptune tr.rlvHeader th {
    border: solid #5d8cc9;
    border-width: 0 0 1px 1px;
    background: 0 -2300px repeat-x #c3d8f1 url('Grid/sprite.gif');
    color: #00156e; }
  .RadListView_Neptune tr.rlvI td, .RadListView_Neptune tr.rlvA td, .RadListView_Neptune tr.rlvISel td, .RadListView_Neptune tr.rlvIEmpty td, .RadListView_Neptune tr.rlvIEdit td {
    border: 1px solid;
    border-top: 0;
    border-right: 0; }
  .RadListView_Neptune tr.rlvI td, .RadListView_Neptune tr.rlvA td, .RadListView_Neptune tr.rlvIEmpty td, .RadListView_Neptune tr.rlvIEdit td {
    border-color: #d0d7e5; }
  .RadListView_Neptune tr.rlvISel td {
    border-color: #ff9b35; }
  .RadListView_Neptune td.rlvI, .RadListView_Neptune td.rlvA, .RadListView_Neptune td.rlvISel, .RadListView_Neptune td.rlvIEmpty, .RadListView_Neptune td.rlvIEdit {
    border: 0;
    border-right: 1px solid #d0d7e5; }
  .RadListView_Neptune td.rlvISel {
    border-color: #ff9b35; }
  .RadListView_Neptune .rlvFloated .rlvI, .RadListView_Neptune .rlvFloated .rlvA, .RadListView_Neptune .rlvFloated .rlvISel, .RadListView_Neptune .rlvFloated .rlvIEdit {
    border-color: #688caf; }
  .RadListView_Neptune .rlvInput {
    border-color: #abc1de;
    background: #fff;
    color: #000; }

/*buttons*/
/*flow*/
/*grid*/
/*single row*/
/*floated*/
/*edit*/
