.RadTagCloud_Neptune {
  background-color: white;
  border: 1px dotted #abc1de;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Loading image */ }
  .RadTagCloud_Neptune .rtcTagList .rtcTagItem {
    color: #666666; }
  .RadTagCloud_Neptune .rtcTagList .rtcTagItem:hover {
    color: black; }
  .RadTagCloud_Neptune .rtcTagList .rtcTagItem a {
    color: black; }
  .RadTagCloud_Neptune .rtcTagList .rtcTagItem a:hover {
    color: black;
    background: #ffe27b; }
  .RadTagCloud_Neptune.rtcLoading {
    background-image: url('Common/loading_small.gif'); }

