<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="FrameWork_Conn" connectionString="data source=192.168.2.27;initial catalog=EQMS_FrameworkTC;user id=sa;password=tchb.2011" providerName="System.Data.SqlClient" />
    <add name="AMS_BaseData_Conn" connectionString="data source=192.168.2.27;initial catalog=AMS_BaseDataTC;user id=sa;password=tchb.2011" providerName="System.Data.SqlClient" />
    <add name="AMS_AirAutoMonitor_Conn" connectionString="data source=192.168.2.27;initial catalog=AMS_AirAutoMonitorTC;user id=sa;password=tchb.2011" providerName="System.Data.SqlClient" />
    <add name="AMS_WaterAutoMonitor_Conn" connectionString="data source=192.168.2.27;initial catalog=AMS_WaterAutoMonitorTC;user id=sa;password=tchb.2011" providerName="System.Data.SqlClient" />
    <add name="AMS_MonitorBusiness_Conn" connectionString="data source=192.168.2.27;initial catalog=AMS_MonitorBusinessTC;user id=sa;password=tchb.2011" providerName="System.Data.SqlClient" />-->
    
    <add name="FrameWork_Conn" connectionString="data source=192.168.90.199;initial catalog=EQMS_Framework;user id=sa;password=sinoyd123!@#" providerName="System.Data.SqlClient" />
    <add name="AMS_BaseData_Conn" connectionString="data source=192.168.90.199;initial catalog=AMS_BaseData;user id=sa;password=sinoyd123!@#" providerName="System.Data.SqlClient" />
    <add name="AMS_AirAutoMonitor_Conn" connectionString="data source=192.168.90.199;initial catalog=AMS_AirAutoMonitor;user id=sa;password=sinoyd123!@#" providerName="System.Data.SqlClient" />
    <add name="AMS_WaterAutoMonitor_Conn" connectionString="data source=192.168.90.199;initial catalog=AMS_WaterAutoMonitor;user id=sa;password=sinoyd123!@#" providerName="System.Data.SqlClient" />
    <add name="AMS_MonitorBusiness_Conn" connectionString="data source=192.168.90.199;initial catalog=AMS_MonitorBusiness;user id=sa;password=sinoyd123!@#" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AirFactors" value="PM2.5,PM10,O3,NO2,SO2,CO"/>
    <!--<add key="AirFactors" value="a34002,a34004,a21005,a21004,a05024,a21026"/>-->
    <!--<add key="AirOverData" value="PM2.5:0.075,PM10:0.15,O3:0.2,NO2:0.2,SO2:0.5,CO:10"/>-->
    <add key="AirOverData" value="PM2.5:75,PM10:150,O3:200,NO2:200,SO2:500,CO:10"/>
    <add key="AirOverData2" value="PM2.5:75,PM10:150,O3:200,NO2:200,SO2:500,CO:10"/>
    <add key="WaterOverData" value="PM2.5:0.075,PM10:0.15,O3:0.2,NO2:0.2,SO2:0.5,CO:10"/>
    <add key="WaterFactors" value="pH值,溶解氧,电导率,水温,浊度,氨氮,总磷,总氮,总有机碳,叶绿素,藻密度"/>

    <!--Begin 苏州 Android专业版版本配置-->
    <add key="verDescPro" value="1.空气增加监测数据;2.样式调整;"/>
    <add key="verNamePro" value="22"/>
    <add key="verCodePro" value="1.0"/>
    <add key="verPathPro" value="http://222.92.42.178:8083/EnvWaterKS/Environment.apk"/>
    <!--End 苏州 Android专业版版本配置-->    

    <!--Begin Ios版本配置-->
    <add key="verDescIOSPro" value="IOS更新内容"/>
    <add key="verNameIOSPro" value="吴江环境质量专业版ios"/>
    <add key="verCodeIOSPro" value="1.0"/>
    <add key="verPathIOSPro" value=""/>
    <!--End Ios版本配置-->

    <!--南通市AQI数据UID配置项-->
    <add key="CityAQI_MonitoringRegionUid" value="b6e983c4-4f92-4be3-bbac-d9b71c470640"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add  name="HttpPost"/>
        <add  name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  
</configuration>
