<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）: Language="zh_CN" AjaxTimeout="60" EnableAjax="true" Theme="blue" FormMessageTarget="qtip" FormOffsetRight="20" FormLabelWidth="100" FormLabelSeparator="：" IconBasePath="~/icon" EnableAjaxLoading="true" AjaxLoadingType="default" CustomTheme="" CustomThemeBasePath="~/theme" -->
  <FineUI EnableBigFont="true" DebugMode="false" IconBasePath="~/Content/icon" EnableAjaxLoading="false"></FineUI>
  <dataConfiguration defaultDatabase="ConnectionString">
    <providerMappings>
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="System.Data.SqlClient" />
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.OracleDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="System.Data.OracleClient" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=192.168.90.199;User ID=sa;Password=sinoyd123!@#;database=EQMS_Framework;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Server=.;User ID=sa;Password=11111;database=EQMS_Framework;" providerName="System.Data.SqlClient" />-->

    <!--<add name="ConnectionString" connectionString="Server=192.168.12.239;User ID=nantong;Password=nt123!@#;database=EQMS_Framework;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="SysName" value="江苏远大信息股份有限公司" />
    <add key="DefaultPassword" value="11111" />
    <add key="PortalName" value="EQMSPortalNT" />
    <add key="PortalUrl" value="http://localhost/" />
    <add key="InnerPortalUrl" value="http://localhost/" />
    <add key="InnerIP" value="192.168.90.199" />
    <add key="GISUrl" value="http://218.91.209.251:1117/NTGIS"/>
    <add key="NoiseUrl" value="http://192.168.1.125/SZGIS.V02/" />
    <add key="RegisterCode" value="85704D9E4D068A7F13B1E86017BA44D661F6C2570714473E5D8221ADC736F82E" />
  </appSettings>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <system.web>

    <!--以下配置保证session编译后不丢失-->
    <!--<sessionState mode="InProc" stateConnectionString="tcpip=192.168.1.254:42424" sqlConnectionString="data source=192.168.1.254;Trusted_Connection=yes" cookieless="false" timeout="1" />-->
    <sessionState mode="InProc" cookieless="false" timeout="120" />
    <!-- Net3.5以上的项目，一定要为pages节点加上这两个属性：controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" enableViewStateMac="false">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolKit" />
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f" />
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false" />
    </httpHandlers>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <compilation debug="true" />

    <authentication mode="Forms">
      <forms name="UserLogin" loginUrl="login.aspx" protection="All" timeout="120" />
    </authentication>
    <authorization>
      <!--<deny users="?" />-->
      <allow users="*" />
    </authorization>
    <!--<machineKey validationKey="EFA673AE62A3854D6C4825CEAC5BC1D7B90123DE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" decryption="3DES"></machineKey>-->
    <!--<machineKey validation="3DES" validationKey="319B474B1D2B7A87C996B280450BB36506A95AEDF9B51211" decryption="3DES" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A87" />-->
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" />
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
  </system.web>
  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebService">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Handle">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  -->
  <!-- IIS7 Integrated Mode
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false"/>
    </handlers>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PassportServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1/SSO/PassportService.asmx" binding="basicHttpBinding" bindingConfiguration="PassportServiceSoap" contract="Passport.PassportServiceSoap" name="PassportServiceSoap" />
    </client>
  </system.serviceModel>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=8" />
      </customHeaders>
    </httpProtocol>
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
