<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TempGetDataWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.11.65/OMMP/WebService/OMMPGetDataWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TempGetDataWebServiceSoap"
                contract="ServiceReference.TempGetDataWebServiceSoap" name="TempGetDataWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>