body {
}

.RadPanelBar_Silk .rpLink, .RadPanelBar_Silk .rpHeaderTemplate {
    background: #9fd7fe none repeat scroll 0 0 !important;
    box-shadow: none;
    color: #fff !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px !important;
    line-height: 36px !important;
    border-color: none !important;
    box-shadow: none !important;
}

.RadPanelBar .rpLink {
    border-bottom-style: none !important;
    border-bottom-width: 0 !important;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

.RadPanelBar .rpItem {
    display: block;
    float: none;
    margin-bottom: 3px !important;
    *margin-bottom: 10px !important;
    overflow: hidden;
    position: static;
}

.RadPanelBar_Silk .rpLink:hover, .RadPanelBar_Silk .rpHeaderTemplate:hover {
    background-color: #3c98dc !important;
    color: #fff;
}

.rpRootGroup .rpSelected {
    background-color: #3c98dc !important;
}

.rpSlide .rpGroup .rpSelected {
    background-color: #ffa544 !important;
    color: #fff !important;
}

.RadPanelBar_Silk .rpRootGroup {
    background: #fff none repeat scroll 0 0;
    border-color: none !important;
    border: none !important;
}

.rpSlide .rpLink {
    background: #fff !important;
    color: #333 !important;
}

    .rpSlide .rpLink:hover {
        background: #ffa544 !important;
        color: #fff !important;
    }

.RadPanelBar .rpRootGroup .rpItem .rpExpandable .rpExpandHandle {
    background-image: url(../Images/leftPanelBar/icon/icon_Leftarrow.png);
}
