<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   <add name="AMS_AirAutoMonitorConnection" connectionString="data source=192.168.0.22;initial catalog=AMS_AirAutoMonitorSZ;user id=sa;password=szemc123!@#" providerName="System.Data.SqlClient" />
    <add name="AMS_WaterAutoMonitorConnection" connectionString="data source=192.168.0.22;initial catalog=AMS_WaterAutoMonitorSZ;user id=sa;password=szemc123!@#" providerName="System.Data.SqlClient" />
    <add name="AMS_MonitoringBusinessConnection" connectionString="data source=192.168.0.22;initial catalog=AMS_MonitorBusinessSZ;persist security info=True;user id=sa;password=szemc123!@#" providerName="System.Data.SqlClient" />
    <add name="AMS_BaseDataConnection" connectionString="data source=192.168.0.22;initial catalog=AMS_BaseDataSZ;user id=sa;password=szemc123!@#" providerName="System.Data.SqlClient" />
    <add name="Frame_Connection" connectionString="data source=192.168.0.22;initial catalog=EQMS_FrameworkSZ;user id=sa;password=szemc123!@#" providerName="System.Data.SqlClient" />

     <!--<add name="AMS_AirAutoMonitorConnection" connectionString="data source=.;initial catalog=AMS_AirAutoMonitorSZ;user id=sa;password=11111" providerName="System.Data.SqlClient" />
    <add name="AMS_WaterAutoMonitorConnection" connectionString="data source=.;initial catalog=AMS_WaterAutoMonitorSZ;user id=sa;password=11111" providerName="System.Data.SqlClient" />
    <add name="AMS_MonitoringBusinessConnection" connectionString="data source=.;initial catalog=AMS_MonitorBusinessSZ;persist security info=True;user id=sa;password=11111" providerName="System.Data.SqlClient" />
    <add name="AMS_BaseDataConnection" connectionString="data source=.;initial catalog=AMS_BaseDataSZ;user id=sa;password=11111" providerName="System.Data.SqlClient" />
    <add name="Frame_Connection" connectionString="data source=.;initial catalog=EQMS_FrameworkSZ;user id=sa;password=11111" providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
</configuration>