<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false"></section>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"></section>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"></section>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Com.Sinoyd.Mis.WebUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）: Language="zh_CN" AjaxTimeout="60" EnableAjax="true" Theme="blue" FormMessageTarget="qtip" FormOffsetRight="20" FormLabelWidth="100" FormLabelSeparator="：" IconBasePath="~/icon" EnableAjaxLoading="true" AjaxLoadingType="default" CustomTheme="" CustomThemeBasePath="~/theme" -->
  <FineUI DebugMode="false" IconBasePath="~/images/icons"></FineUI>
  <dataConfiguration defaultDatabase="ConnectionString">
    <providerMappings>
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="System.Data.SqlClient"></add>
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.OracleDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="System.Data.OracleClient"></add>
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=192.168.90.188;User ID=sa;Password=sinoyd123!@#;database=AMS_BaseData;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Server=.;User ID=sa;Password=11111;database=AMS_BaseData;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Server=192.168.12.239;User ID=nantong;Password=nt123!@#;database=AMS_BaseData;" providerName="System.Data.SqlClient"></add>-->
  </connectionStrings>
  <appSettings>
    <add key="SsoLoginUrl" value="http://221.178.131.85:5222/EQMSPortalNT/Login.aspx" />
    <add key="VirtualDirectoryName" value="EQMSMisNT" />
    <add key="DesKey" value="12345678" />
    <add key="RegisterCode" value="C6BB920F33C39026FF2135C07301F80F61F6C2570714473E5D8221ADC736F82E" />
  </appSettings>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"></add>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <system.web>

    <!--以下配置保证session编译后不丢失-->
    <sessionState mode="InProc" stateConnectionString="tcpip=192.168.1.254:42424" sqlConnectionString="data source=192.168.1.254;Trusted_Connection=yes" cookieless="false" timeout="300"></sessionState>
    <!-- Net3.5以上的项目，一定要为pages节点加上这两个属性：controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolKit"></add>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f"></add>
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"></add>
    </httpModules>

    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0"></httpRuntime>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true"></compilation>

    <authentication mode="Forms">
      <forms name="UserLogin" loginUrl="login.aspx" protection="All" timeout="120"></forms>
    </authentication>
    <authorization>
      <!--<deny users="?" />-->
      <allow users="*"></allow>
    </authorization>
    <!--<machineKey validationKey="EFA673AE62A3854D6C4825CEAC5BC1D7B90123DE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" decryption="3DES"></machineKey>-->
    <!--<machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1"/>-->
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8"></globalization>
  </system.web>
  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*"></allow>
      </authorization>
    </system.web>
  </location>
  <!--
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  -->
  <!-- IIS7 Integrated Mode
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false"/>
    </handlers>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  -->
  <applicationSettings>
    <Com.Sinoyd.Mis.WebUI.Properties.Settings>
      <setting name="Com_Sinoyd_Mis_WebUI_FrameService_User" serializeAs="String">
        <value>http://221.178.131.85:5222/EQMSFrameNT/WebService/User.asmx</value>
      </setting>
    </Com.Sinoyd.Mis.WebUI.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=8" />
      </customHeaders>
    </httpProtocol>
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
