.RadAutoCompleteBox_Silk {
  color: #767676;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px; }
  .RadAutoCompleteBox_Silk .racTokenList {
    border-color: #d7d7d7;
    color: #555555;
    background-color: #ffffff;
    padding-right: 27px; }
  .RadAutoCompleteBox_Silk .racDisabled {
    border-color: #d7d7d7;
    color: #d7d7d7;
    background-color: #ffffff; }
  .RadAutoCompleteBox_Silk .racToken {
    padding: 0 8px;
    border-radius: 3px;
    background-image: url('Common/radGradientButtonSprite.png');
    border-color: #c9c9c9;
    color: #767676;
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%); }
  .RadAutoCompleteBox_Silk .racTokenHovered {
    border-color: #939393;
    color: #444444;
    background-color: #939393;
    background-image: linear-gradient(#d6d6d6 0%, #939393 100%); }
  .RadAutoCompleteBox_Silk .racTokenSelected {
    border-color: #a9a9a9;
    color: #000000;
    background-color: #dedede;
    background-image: linear-gradient(#c7c7c7 0%, #dedede 100%); }
  .RadAutoCompleteBox_Silk .racDisabled .racToken {
    border-color: #c9c9c9;
    color: #d7d7d7;
    background-color: #e3e3e3;
    background-image: linear-gradient(#fefefe 0%, #e3e3e3 100%); }
  .RadAutoCompleteBox_Silk .racRemoveTokenLink {
    margin-top: -2px;
    background-image: url('Common/radActionsSprite.png');
    background-position: -17px -3367px; }
  .RadAutoCompleteBox_Silk .racTextToken {
    padding-top: 1px;
    padding-bottom: 1px; }
  .RadAutoCompleteBox_Silk .racEditTokenInput {
    height: 22px; }
  .RadAutoCompleteBox_Silk .racInput {
    height: 24px; }
  * + html .RadAutoCompleteBox_Silk .racInput {
    color: #555555;
    font-family: Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBox_Silk .racEmptyMessage {
    color: #b1b1b1; }
  .RadAutoCompleteBox_Silk .racLoadingIcon {
    right: 5px;
    bottom: 5px;
    background-image: url('Common/loading_small.gif'); }

.RadAutoCompleteBoxPopup_Silk {
  border-color: #d7d7d7;
  color: #555555;
  background-color: #ffffff;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; }
  .RadAutoCompleteBoxPopup_Silk .racHeader, .RadAutoCompleteBoxPopup_Silk .racFooter {
    border-color: #828282;
    color: #5f5f5f;
    background-color: #eaeaea; }
  .RadAutoCompleteBoxPopup_Silk .racShowAll {
    border-color: #828282;
    color: #5f5f5f;
    background-color: #eaeaea; }
  .RadAutoCompleteBoxPopup_Silk .racItemHovered {
    color: #555555;
    background-color: #bbeaf3; }
