.RadProgressBar_Silk {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #767676;
  background-color: #e6e6e6;
  background-image: none, linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0) 100%);
  /* Vertical */ }
  .RadProgressBar_Silk > .rpbLabelWrapper {
    border-color: #c9c9c9; }
  .RadProgressBar_Silk .rpbStateSelected, .RadProgressBar_Silk .rpbStateSelected:hover, .RadProgressBar_Silk .rpbStateSelected:link, .RadProgressBar_Silk .rpbStateSelected:visited {
    background-color: #2dabc1;
    color: #fff;
    background-image: none, linear-gradient(to top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.45) 100%); }
  .RadProgressBar_Silk .rpbChunk {
    border-color: #c9c9c9; }
  .RadProgressBar_Silk .rpbChunk.rpbStateDefault {
    background-color: #e6e6e6; }
  .RadProgressBar_Silk .rpbStateSelected, .RadProgressBar_Silk .rpbStateSelected:hover, .RadProgressBar_Silk .rpbStateSelected:link, .RadProgressBar_Silk .rpbStateSelected:visited, .RadProgressBar_Silk .rpbChunk.rpbStateSelected {
    border-color: #2dabc1; }
  .RadProgressBar_Silk.rpbVertical {
    background-image: none, linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0) 100%); }
  .RadProgressBar_Silk.rpbVertical .rpbStateSelected, .RadProgressBar_Silk.rpbVertical .rpbStateSelected:hover, .RadProgressBar_Silk.rpbVertical .rpbStateSelected:link, .RadProgressBar_Silk.rpbVertical .rpbStateSelected:visited {
    background-image: none, linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.45) 100%); }
  .RadProgressBar_Silk.rpbIndeterminate {
    background-image: url('Common/radIndeterminate.gif'); }

