body {
}

.iconText {
    background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat -143px -57px !important;
    width: 29px;
    height: 29px;
    border: none !important;
}

    .iconText:hover {
        background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat -34px -92px !important;
    }

.iconHelp {
    background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat -194px -57px !important;
    width: 29px;
    height: 29px;
    border: none !important;
}

    .iconHelp:hover {
        background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat -102px -92px !important;
    }

.iconSetting {
    background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat -222px -57px !important;
    width: 29px;
    height: 29px;
    border: none !important;
}

    .iconSetting:hover {
        background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat 0px -92px !important;
    }

.iconBack {
    background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat -246px -57px !important;
    width: 28px;
    height: 29px;
    border: none !important;
    color:red;
    background-color:red;
}

    .iconBack:hover {
        background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat -137px -92px !important;
    }

.iconCloth {
    background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat -167px -57px !important;
    width: 29px;
    height: 29px;
    border: none !important;
}

    .iconCloth:hover {
        background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat -69px -92px !important;
    }

#leftMenu ul {
    list-style: none;
    margin-top: 0px;
}

    #leftMenu ul li {
        float: left;
        margin: 0px 0px 12px -23px;
    }

        #leftMenu ul li a {
            color: #333;
            font-size: 12px;
            text-decoration: none;
        }

            #leftMenu ul li a span {
                margin: 0 0 0 3px;
            }


/*头部css*/
#Container_table {
    background-color: #3c98dc;
}

/*left_css*/
#Td_left {
}

    #Td_left table {
        background-color: none;
        height: 65px;
        margin-top: -4px;
    }

        #Td_left table td {
            width: 460px;
        }

            #Td_left table td div {
                width: 460px;
                height: 65px;
                /*background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat 0 2px;*/
                text-indent: -9999px;
                overflow: hidden;
                display: block;
            }

/*center_css*/
#Td_center {
}

    #Td_center table {
        margin-top: -66px;
    }

    #Td_center .iconClock {
        width: 30px;
        height: 30px;
        margin-top: 13px;
        background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat 0 -169px;
        text-indent: -9999px;
        overflow: hidden;
        display: block;
    }

    #Td_center .Time {
        font-size: 60px;
        color: #fff;
        font-weight: bolder;
    }

    #Td_center .Moth {
        font-size: 16px;
        color: #fff;
        font-weight: bolder;
    }

        #Td_center .Moth p:first-child {
            margin-bottom: -10px;
        }

/*right_css*/
#Td_right {
}

#Td_right table {
        margin-top: 0px;
    }

#Td_right_user {
    color: #FFF;
    font-size: 10pt;
    width: 184px;
}

    #Td_right_user div {
        float: left;
        width: 44px;
        height: 44px;
        background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat 0 -233px;
        text-align: center;
        padding-top: 5px;
        margin-top: -11px;
    }

    #Td_right_user span {
        float: right;
        margin-top: 2px;
    }

#Td_right .weather p {
    font-size: 13px;
    color: #fff;
    margin-bottom: -5px;
    *margin-bottom: 0px;
    margin-left: 36px;
}

#lineButton {
}

    #lineButton .lineButton_left {
        width: 11px;
        height: 26px;
        background: url(../../App_Themes/Neptune/imgs/bg_iconLeft.png) no-repeat;
        margin: -6px -3px 0px 0px;
        text-indent: -9999px;
        overflow: hidden;
        display: block;
    }

    #lineButton .lineButton_right {
        width: 11px;
        height: 26px;
        background: url(../../App_Themes/Neptune/imgs/bg_iconRight.png) no-repeat;
        margin: -6px 0px 0px -3px;
        text-indent: -9999px;
        overflow: hidden;
        display: block;
    }

    #lineButton .lineButton_center {
        background: url(../../App_Themes/Neptune/imgs/bg_icon.png) repeat-x;
        height: 26px;
        width: 100%;
    }

        #lineButton .lineButton_center div {
            margin: -5px 0px 0px 5px;
        }


#Td_right_menu {
}

    #Td_right_menu div {
        background: url(../../App_Themes/Neptune/imgs/bg_Dropdown.png) no-repeat;
        width: 75px;
        height: 26px;
        margin: 6px -10px 0px 0px;
    }

    #Td_right_menu #iconImg {
        float: left;
        margin: 1px 10px 0 14px;
        width: 28px;
        height: 26px;
        background-image: url(../../App_Themes/Neptune/imgs/icon_All.png);
        background-repeat: no-repeat;
        background-position: -273px -60px;
        text-indent: -9999px;
        overflow: hidden;
        display: block;
    }

    #Td_right_menu #dropDown {
        width: 12px;
        height: 7px;
        background: url(../../App_Themes/Neptune/imgs/icon_All.png) no-repeat -34px -204px;
        float: right;
        margin: 10px 11px 0px 0px;
        cursor: pointer;
        text-indent: -9999px;
        overflow: hidden;
        display: block;
    }


.x-panel-default-outer-border-trbl {
    border: none !important;
}

.DivLogoMgr
{
	background: url(../../App_Themes/Neptune/imgs/MgrTopLogo.png) no-repeat;
	width: 720px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10000;
}

.DivLogoAir
{
	background: url(../../App_Themes/Neptune/imgs/AirTopLogo.png) no-repeat;
	width: 720px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10000;
}

.DivLogoWater
{
    background: url(../../App_Themes/Neptune/imgs/WaterTopLogo.png) no-repeat;
	width: 680px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10000;
}
.DivLogoSuperStation
{
	background: url(../../App_Themes/Neptune/imgs/1.png) no-repeat;
	width: 720px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10000;
}
.DivLogoGeneralPara
{
	background: url(../../App_Themes/Neptune/imgs/2.png) no-repeat;
	width: 720px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10000;
}
.DivLogoRelevance
{
	background: url(../../App_Themes/Neptune/imgs/3.png) no-repeat;
	width: 720px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10000;
}
.DivLogoAudit
{
	background: url(../../App_Themes/Neptune/imgs/4.png) no-repeat;
	width: 720px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10000;
}
.DivLogoSysConfig
{
	background: url(../../App_Themes/Neptune/imgs/5.png) no-repeat;
	width: 720px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10000;
}
.DivLogoStatistic
{
	background: url(../../App_Themes/Neptune/imgs/6.png) no-repeat;
	width: 720px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10000;
}
.DivLogoGIS
{
	background: url(../../App_Themes/Neptune/imgs/7.png) no-repeat;
	width: 720px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10000;
}
.DivLogoVideo
{
	background: url(../../App_Themes/Neptune/imgs/8.png) no-repeat;
	width: 720px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 10000;
}
