.RadComboBox_Neptune {
  color: #000000;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBox_Neptune .rcbInputCell,
  .RadComboBox_Neptune .rcbArrowCell {
    background-image: url('Common/radFormSprite.png'); }
  .RadComboBox_Neptune .rcbInput {
    color: #000000;
    font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px; }
  .RadComboBox_Neptune .rcbEmptyMessage {
    color: #8d8d8d; }
  .RadComboBox_Neptune .rcbHovered .rcbInput {
    color: #000000; }
  .RadComboBox_Neptune .rcbFocused .rcbInput {
    color: #000000; }
  .RadComboBox_Neptune .rcbReadOnly .rcbInput {
    color: #00156e; }
  .RadComboBox_Neptune .rcbHovered .rcbReadOnly .rcbInput {
    color: #000000; }
  .RadComboBox_Neptune .rcbFocused .rcbReadOnly .rcbInput {
    color: #000000; }

.RadComboBoxDropDown_Neptune {
  border-color: #9eb6ce;
  color: #00156e;
  background-color: #ffffff;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadComboBoxDropDown_Neptune .rcbHeader,
  .RadComboBoxDropDown_Neptune .rcbFooter {
    color: #00156e;
    background-color: #c3d8f1; }
  .RadComboBoxDropDown_Neptune .rcbHeader {
    border-bottom-color: #688caf; }
  .RadComboBoxDropDown_Neptune .rcbFooter {
    border-top-color: #688caf; }
  .RadComboBoxDropDown_Neptune .rcbHovered {
    color: #00156e;
    background-color: #ffe27b; }
  .RadComboBoxDropDown_Neptune .rcbSelected {
    color: #000000;
    background-color: #fcc365; }
  .RadComboBoxDropDown_Neptune .rcbLoading {
    color: #00156e;
    background-color: #ffe27b; }
  .RadComboBoxDropDown_Neptune .rcbItem em {
    color: #00156e;
    background-color: #ffe27b; }
  .RadComboBoxDropDown_Neptune .rcbCheckAllItems {
    border-color: #688caf;
    color: #00156e;
    background-color: #c3d8f1; }
  .RadComboBoxDropDown_Neptune .rcbMoreResults {
    border-color: #688caf;
    color: #00156e;
    background-color: #c3d8f1; }
