/*========================================= Toolbar related CSS ========================*/
.RadFileExplorer_Neptune {
  /* Overwrites padding for better presentation and space saving */
  /* Thumbnail view */
  /* Thumbnail filter */ }
  .RadFileExplorer_Neptune .RadToolBar .rtbText {
    background-image: url('FileExplorer/FileExplorerToolbarSprites.png');
    _background-image: url('FileExplorer/FileExplorerToolbarSpritesIE6.gif') !important;
    background-repeat: no-repeat; }
  .RadFileExplorer_Neptune,
  .RadFileExplorer_Neptune .rfeAddressBox,
  .RadFileExplorer_Neptune .rfeFilterTxt {
    border-color: #abc1de; }
  .RadFileExplorer_Neptune div.selectedFileName {
    border-top: 1px solid #abc1de; }
  .RadFileExplorer_Neptune .RadGrid .rgRow td,
  .RadFileExplorer_Neptune .RadGrid .rgAltRow td,
  .RadFileExplorer_Neptune .RadGrid .rgEditRow td,
  .RadFileExplorer_Neptune .RadGrid .rgFooter td {
    padding-left: 8px;
    padding-right: 8px; }
  .RadFileExplorer_Neptune .rfeThumbList a:hover,
  .RadFileExplorer_Neptune .rfeThumbList .rfeHoveredLink,
  .RadFileExplorer_Neptune .rfeThumbList .rfeSelectedLink,
  .RadFileExplorer_Neptune .rfeThumbList .rfeSelectedLink:hover {
    background-image: url('../Common/Gradients/office2007_smoothSprite_20.png');
    background-color: #ffe27b;
    border-color: #305090; }
  .RadFileExplorer_Neptune .rfeThumbList .rfeSelectedLink,
  .RadFileExplorer_Neptune .rfeThumbList .rfeSelectedLink:hover {
    background-color: #FCDB89; }
  .RadFileExplorer_Neptune .rfeFilterContainer {
    background-image: url('../Common/Gradients/office2007_smoothSprite_20.png');
    background-color: white; }

