.RadListBox_Neptune {
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadListBox_Neptune .rlbGroup,
  .RadListBox_Neptune .rlbTemplateContainer {
    border-color: #abc1de;
    color: #00156e;
    background-color: white; }
  .RadListBox_Neptune .rlbCheckAllItems {
    color: #00156e;
    background-color: #c3d8f1; }
  .RadListBox_Neptune .rlbCheckAllItemsHovered {
    color: black;
    background-color: #c3d8f1; }
  .RadListBox_Neptune .rlbItem {
    line-height: 18px; }
  .RadListBox_Neptune .rlbHighlight {
    color: #00156e;
    background-color: #ffe27b; }
  .RadListBox_Neptune .rlbItem.rlbHovered {
    color: #00156e;
    background: #ffe27b; }
  .RadListBox_Neptune .rlbItem.rlbSelected {
    color: black;
    background: #fcc365; }

.RadListBox_Neptune .rlbHeader,
.RadListBox_Neptune .rlbFooter {
  border-color: #abc1de;
  background-image: url('ListBox/rlbHeaderFooter.png');
  background-color: #f1f2f4; }

.RadListBox_Neptune .rlbFooter {
  background-position: 0 -200px;
  background-color: #fff; }

.RadListBox_Neptune .rlbDropClue {
  background-image: url('ListBox/rlbDropClue.png'); }

.RadListBox_Neptune .rlbGroup .rlbDropClueAbove {
  border-top-color: #8e8e8e; }

.RadListBox_Neptune .rlbGroup .rlbDropClueBelow {
  border-bottom-color: #8e8e8e; }

.RadListBox_Neptune .rlbGroup .rlbSelected.rlbDropClueAbove,
.RadListBox_Neptune .rlbGroup .rlbHovered.rlbDropClueAbove,
.RadListBox_Neptune .rlbGroup .rlbSelected.rlbDropClueBelow,
.RadListBox_Neptune .rlbGroup .rlbHovered.rlbDropClueBelow {
  border-color: #8e8e8e; }

/* Buttons normal state vertical layout*/
.RadListBox_Neptune .rlbButton {
  color: #00156e; }
.RadListBox_Neptune .rlbButtonText {
  background-image: url('ListBox/rlbSprite.png'); }
.RadListBox_Neptune .rlbButton:hover .rlbButtonTL,
.RadListBox_Neptune .rlbButton:hover .rlbButtonTR,
.RadListBox_Neptune .rlbButton:hover .rlbButtonBL,
.RadListBox_Neptune .rlbButton:hover .rlbButtonBR {
  background-image: url('ListBox/rlbButtonHover.png'); }
.RadListBox_Neptune .rlbButton .rlbButtonTL,
.RadListBox_Neptune .rlbButton .rlbButtonTR,
.RadListBox_Neptune .rlbButton .rlbButtonBL,
.RadListBox_Neptune .rlbButton .rlbButtonBR,
.RadListBox_Neptune .rlbDisabled:hover .rlbButtonTL,
.RadListBox_Neptune .rlbDisabled:hover .rlbButtonTR,
.RadListBox_Neptune .rlbDisabled:hover .rlbButtonBL,
.RadListBox_Neptune .rlbDisabled:hover .rlbButtonBR {
  background-image: url('ListBox/rlbButtonNormal.png'); }
.RadListBox_Neptune .rlbButton:hover {
  color: black; }
.RadListBox_Neptune .rlbDisabled,
.RadListBox_Neptune .rlbDisabled:hover {
  color: #00156e; }

.RadListBox_Neptune .rlbMoveUp .rlbButtonText {
  background-position: 0 0; }
.RadListBox_Neptune .rlbMoveUp:hover .rlbButtonText {
  background-position: -400px 0; }
.RadListBox_Neptune .rlbMoveUpDisabled .rlbButtonText,
.RadListBox_Neptune .rlbMoveUpDisabled:hover .rlbButtonText {
  background-position: -200px 0; }
.RadListBox_Neptune .rlbMoveDown .rlbButtonText {
  background-position: 0 -25px; }
.RadListBox_Neptune .rlbMoveDown:hover .rlbButtonText {
  background-position: -400px -25px; }
.RadListBox_Neptune .rlbMoveDownDisabled .rlbButtonText,
.RadListBox_Neptune .rlbMoveDownDisabled:hover .rlbButtonText {
  background-position: -200px -25px; }
.RadListBox_Neptune .rlbMoveToTop .rlbButtonText {
  background-position: 0 -275px; }
.RadListBox_Neptune .rlbMoveToTop:hover .rlbButtonText {
  background-position: -400px -275px; }
.RadListBox_Neptune .rlbMoveToTopDisabled .rlbButtonText,
.RadListBox_Neptune .rlbMoveToTopDisabled:hover .rlbButtonText {
  background-position: -200px -275px; }
.RadListBox_Neptune .rlbMoveToBottom .rlbButtonText {
  background-position: 0 -300px; }
.RadListBox_Neptune .rlbMoveToBottom:hover .rlbButtonText {
  background-position: -400px -300px; }
.RadListBox_Neptune .rlbMoveToBottomDisabled .rlbButtonText,
.RadListBox_Neptune .rlbMoveToBottomDisabled:hover .rlbButtonText {
  background-position: -200px -300px; }
.RadListBox_Neptune .rlbDelete .rlbButtonText {
  background-position: 0 -50px; }
.RadListBox_Neptune .rlbDelete:hover .rlbButtonText {
  background-position: -400px -50px; }
.RadListBox_Neptune .rlbDeleteDisabled .rlbButtonText,
.RadListBox_Neptune .rlbDeleteDisabled:hover .rlbButtonText {
  background-position: -200px -50px; }
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText {
  background-position: 0 -100px; }
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText {
  background-position: 0 -75px; }
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferTo:hover .rlbButtonText {
  background-position: -400px -100px; }
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferFrom:hover .rlbButtonText {
  background-position: -400px -75px; }
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText {
  background-position: -200px -100px; }
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText {
  background-position: -200px -75px; }
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -150px; }
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -125px; }
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferAllTo:hover .rlbButtonText {
  background-position: -400px -150px; }
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferAllFrom:hover .rlbButtonText {
  background-position: -400px -125px; }
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText {
  background-position: -200px -150px; }
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText {
  background-position: -200px -125px; }
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText {
  background-position: 0 -200px; }
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText {
  background-position: 0 -175px; }
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferTo:hover .rlbButtonText {
  background-position: -400px -200px; }
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferFrom:hover .rlbButtonText {
  background-position: -400px -175px; }
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText {
  background-position: -200px -200px; }
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText {
  background-position: -200px -175px; }
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -250px; }
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -225px; }
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferAllTo:hover .rlbButtonText {
  background-position: -400px -250px; }
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferAllFrom:hover .rlbButtonText {
  background-position: -400px -225px; }
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText {
  background-position: -200px -250px; }
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Neptune .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText {
  background-position: -200px -225px; }
