.RadNotification_Neptune {
  border-color: #abc1de;
  color: #000000;
  background-color: #C3D8F1;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px; }
  .RadNotification_Neptune.rnShadows {
    box-shadow: 2px 2px 3px #d8e5f3; }
  .RadNotification_Neptune .rnTitleBar {
    border-bottom-color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee8f5', endColorstr='#c3d8f1',GradientType=0 );
    background-image: linear-gradient(#dee8f5, #c3d8f1); }
  .RadNotification_Neptune .rnCommands a {
    background-image: url('Common/radActionsSprite.png'); }
  .RadNotification_Neptune .rnTitleBarTitle {
    color: #00156e; }
  .RadNotification_Neptune .rnContentWrapper {
    border-top-color: #abc1de; }

